:root {
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffff;
}

body {
    background-color: var(--dark);
    color: white;
}

.img_logo {
    width: 200px;
}

.carousel-inner {

    opacity: 0.5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*NavBar*/

.navbar-custom {
    background-color: var(--dark); /* Reemplaza con tu color personalizado */
}

.navbar-custom .nav-link {

    font-size: large;
    color: #ffffff; /* Reemplaza con tu color deseado para las letras */
    transition: color 0.8s ease; /* Transición suave de 0.8 segundos */

}


.navbar-custom .nav-link:hover {
    color: #a200ff; /* Color al hacer hover en las letras */
}

/*Edicion input para buscar*/

.input-custom {
    background-color: black;
    color: white;
}

