:root{
    --dark: hsl(210, 12%, 10%);
    --dark-x: #1e2126;
    --light: #ffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    color: var(--light)
}

.bg-dark{background-color: var(--dark) !important;}
.bg-dark-x{background-color: var(--dark-x);}

.form-control, .btn{
    min-height: 3.125rem;
    line-height: initial;
}

.signup{
    width: 400px;
    height: 550px;
    padding: 20px;
    border-radius: 12px;
    background: var(--dark-x);
}

.signup h1{
    font-size: 36px;
    margin-bottom: 25px;
    text-align: center;
}

.signup form{
    font-size: 20px;
}

.signup form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
}

.btn{
    margin-top: 40px;
}
