:root {
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffff;
    --primary-color:#22254b;
    --secondary-color: #373b69;
}

body {
    background-color: var(--dark);
    color: white;
    
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    }
.titulo:hover {
    color: black; /* Color al hacer hover en las letras */
    transition: color 0.8s ease;
}

/*buscar*/

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .search-input {
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    padding: 10px 20px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
  }
  
  .search-button {
    border: none;
    background-color: rgb(176, 85, 176);
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: -57px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .search-button:hover {
    background-color: purple;
    cursor: pointer;
  }
  
  .principal {
    border-radius: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  

.principal {
    background-image: url(/src/img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(10px); /* Ajusta el valor de desenfoque según tus preferencias */
}


.img_logo {
    margin-left: 100px;
    width: 200px;
}

/*.carousel-inner {

    opacity: 0.5;
}*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*NavBar*/

.navbar-custom {
    background-color: var(--dark); /* Reemplaza con tu color personalizado */
    background-image: url(/src/img/fondo.jpg);
    backdrop-filter: blur(10px); /* Ajusta el valor de desenfoque según tus preferencias */
    background-size: cover;
    background-repeat: no-repeat;
    
}

.navbar-custom .nav-link {
    margin-right: 100px;
    font-size: large;
    color: #ffffff; /* Reemplaza con tu color deseado para las letras */
    transition: color 0.8s ease; /* Transición suave de 0.8 segundos */

}


.navbar-custom .nav-link:hover {
    color: #a200ff; /* Color al hacer hover en las letras */
}

/*Edicion input para buscar*/

.input-custom {
    background-color: black;
    color: white;
}

/*Slider*/

.carousel-inner .carousel-item {
    transition-duration: 3s; /* Ajusta el valor a la duración deseada en segundos */
}


/*Cards para las peliculas*/

.main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 10px;
    width: 300px;
    margin: 1rem;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    background-color: rgba(73, 4, 137, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
}


.movie img{
    width:100%;
}


.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.30rem 0.30rem;
    border-radius: 15px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.pink{
    color: pink;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: white;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.5s ease-in;
    color: #16191c;
}

.movie:hover .overview{
    transform: translateY(0);
}