:root{
    --dark: hsl(210, 12%, 10%);
    --dark-x: #1e2126;
    --light: #ffff;
}

body{
    background-color: var(--dark);
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    color: var(--light)
}

.bg-dark{background-color: var(--dark) !important;}
.bg-dark-x{background-color: var(--dark-x);}

.form-control, .btn{
    min-height: 3.125rem;
    line-height: initial;
}

.img-1{
    background-image: url('img/img-1.png');
    background-size: cover !important;
    background-position: center !important;
}

.carousel-inner:hover{
    opacity: 0.5;
}

.carousel-inner .carousel-item{
    transition-duration: 3s;
}